@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0; 
}

.container{
    background: url(images/photogallerybg.jpg);
    height: 100vh;
    background-size: 100% 100%;
}
    
.container .navbar{
    width: 100%;
    height: 80px;
    background: rgba(122, 32, 182, 0.541);
}

.navbar .logo{
    display: inline-block;
    margin-top: 20px;
}

.navbar .logo a{
    text-decoration: none;
    font-size: 35px;
    font-family: Copperplate, Papyrus, fantasy;
    color: rgba(208, 255, 0, 0.8);
    margin-left: 80px;
    margin-top: 10px;
}

.navbar ul{
    float: right;
    margin-right: 720px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    line-height: 80px

}

.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 13px;
    font-family: Roboto;
    transition: .3s;
}

.navbar ul li a.active,
.navbar ul li a:hover{
    background: #ff6e00

}

.container .images{
    width: 25%;
    height: 40%;
    border-radius: 20%;
    margin-top: 90px;
    margin-left: 95px;
}

.container .images2{
    width: 25%;
    height: 40%;
    border-radius: 20%;
    
    margin-left: 70%;
    margin-right: 95px;
    margin-top: -440px;
}

.container .images3{
    width: 25%;
    height: 40%;
    border-radius: 20%;
    margin-left: 730px;
    margin-top: -800px;
}